.dark-screen {
    background-color: rgba(0,0,0,0);
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5000;
    transition: .2s;
}

.dark-screen.active {
    background-color: rgba(0,0,0,.6);
}