.modal {
    background-color: #fff;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 400px;
    width: 100%;
}

.modal__head {
    box-shadow: 0 1px 0 var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.modal__name {
    height: 40px;
    font-size: 110%;
    line-height: 40px;
    padding: 0 10px;
    font-weight: 700;
    width: 100%;
}

.modal__close {
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    padding: 8px;
    width: 40px;
}

.modal__close:hover {
    background-color: var(--hover-color);
}

.icon__back { display: none; }

@media (max-width: 1023px) {

    .modal {
        border-radius: 0;
        height: 100%;
        margin: 0;
        max-width: 100%;
    }

    .modal__head {
        flex-direction: row-reverse;
    }

    .icon__back { display: block; }
    .icon__close { display: none; }

}